.item-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.item-container:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.item-image {
    img {
        width: 170px;
        height: 170px;
    }
}

.items-infos {
    display: flex;
    flex-direction: column;
    padding: 0 10px 0 10px;
    color: #717171;
    font-size: 15px;
}

.item-info {
    padding: 2.5px 0 2.5px 0;
    flex: 1;
}

.item-title {
    h3 {
        margin: 5px 0 5px 0;
    }
}

.item-price {
    color: #50a773;
    padding: 0px;
}