.searchInput {
    align-items: center;
    background-color: white;  
    display: flex;
    width: 100%;
    padding: 14px 16px;
    border-radius: 10px;   
    gap: 5px; 
}
  
.search-input {
    outline: none;
    width: 100%;
}

.search-icon {
    color: red;
    font-weight: bold;
}